<html>
	<body>
		<table>
			<tr>
				<td>
					<img src="img/rana.jpeg"/ width="100" >
				</td>
				<td>		
					<h1 style="text-align:center;font-size:50px">
						<b>Bienvenido <%=@@jugador%></b>
					</h1>
				</td>
			</tr>
		</table>

	</body>
</html>
