<html>
	<body>
		<center>
			<img src="img/rana.jpeg"/ >

			<h1 style="text-align:center;font-size:50px">
				<b>Bienvenido a Frogger</b>
			</h1>
			<form action="/home">
				Usuario: <input type="text" name="usuario"/><br><br>
				<input type="submit" id="Iniciar" value="Iniciar">
			</form>
		</center>
	</body>
</html>
