<html>
<head>
	<title>FROGGER Niveles</title>
</head>
<body>
<form action="/home">
	Basico &nbsp;<input type="radio" selected="true" name="Basico" id="Basico"/><br/>
	Medio&nbsp;<input type="radio" name="Medio" id="Medio"/><br/>
	Avanzado&nbsp;<input type="radio" name="Avanzado" id="Avanzado"/><br/>
	<br/>
	<input type="submit" name="Continuar" id="Continuar"/>
</form>
</body>
</html>

